.DS_Store
node_modules/
node/
dist/
target/

# This folder is built by maven install lifecycle. No need to store those files in git
/cloudcmr-back/src/main/resources/public/

# This folders are built by cypress, no need to track them
/cloudcmr-front/tests/e2e/videos/
/cloudcmr-front/tests/e2e/screenshots/
.firebase

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.iml
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

